@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager;
@model PaginatedList<Class>

@{
    ViewData["Title"] = "Classes";
}

<h1>Courses</h1>
@{ IdentityUser user = userManager.GetUserAsync(User).GetAwaiter().GetResult();
}
@if (userManager.IsInRoleAsync(user, "Teacher").GetAwaiter().GetResult() == true)
{

    <p>
        <a asp-action="Create">Create new</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                ExamDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamDate)
                </td>
                <td>
                    @if (userManager.IsInRoleAsync(user, "Teacher").GetAwaiter().GetResult() == true)
                    {

                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>

@for (int i = 1; i <= Model.TotalPages; i++)
{
    <a asp-action="Index" asp-route-page="@i" style="margin-right:10px;border : 3px solid #eee;padding : 5px 5px;">@i</a>
}
